<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
      <link href="img/favicon.png" rel="icon" type="image/png">
      <title>faw.xkcd</title>
      <link href="styles.css" rel="stylesheet">
   </head>
   <body>
      <div id="comic-container">
         <!-- comic -->
      </div>
      <button id="prev-btn">PREVIOUS</button>
      <button id="next-btn">NEXT</button>
   </body>
   <script src="main.js"></script> 
</html>
